@page
@model LegacyWebForms.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="http://www.asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET Core lets you build dynamic websites using a modern, cross-platform framework.
                Develop powerful applications with clean architecture and built-in dependency injection.
            </p>
            <p>
                <a class="btn btn-default" href="https://learn.microsoft.com/en-us/aspnet/core/">Learn more &raquo;</a>
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>
                NuGet is a free package manager that makes it easy to add, remove, and update libraries and tools in .NET projects.
            </p>
            <p>
                <a class="btn btn-default" href="https://www.nuget.org/">Learn more &raquo;</a>
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Cloud Hosting</h2>
            <p>
                You can easily deploy your ASP.NET Core applications to Azure App Service for scalable cloud hosting.
            </p>
            <p>
                <a class="btn btn-default" href="https://azure.microsoft.com/en-us/products/app-service/">Learn more &raquo;</a>
            </p>
        </section>
    </div>
</main>